.img {
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
@media screen and (max-width: 992px) {
  .img img {
    width: 100%;
    height: 100%;
    object-fit: none;
  }
}
@media screen and (max-width: 768px) {
  .account-page {
    flex-direction: column;
  }
  .img img {
    width: 100%;
    height: 50vh;
  }
}
@media screen and (max-width: 600px) {
  .account-page {
    flex-direction: row;
  }
  .img img {
    display: none;
  }
}
