#add-roles {
  background-color: #00203d;
  border: 2px solid transparent;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

#add-roles:hover {
  background-color: #ebf5ff;
  color: #00203d;
  border: 2px solid #00203d;
}
