/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Tajawal:wght@700&display=swap');

font-family: 'Roboto Slab', serif;
font-family: 'Tajawal', sans-serif; */
.signup {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8rem;
}
.container .left {
  overflow: hidden;
  width: 50%;
}
.container .left a img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: contrast(1.1);
}
.container .right {
  width: 50%;
}
.container .right .signup {
  /* padding: 1rem 0.5rem;
  border: 2px solid #00203d;
  border-radius: 20px;
  width: 500px;
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  overflow: hidden;
  width: 480px;
}
.container .right .signup .heading h1 {
  text-transform: capitalize;
  text-align: center;
}
.container .right .signup .heading form {
  width: 100%;
}
.container .right .signup .heading form .form-group {
  display: flex;
  flex-direction: column;
}
