.kaus-card {
  margin: auto;
  /* border-radius: 20px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-group {
  justify-content: space-between;
  display: flex;
}
.kaus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dash-widget-icon {
  background-color: rgb(114, 165, 241);
  border-radius: 100%;
  color: #00203d;
  display: inline-block;
  float: left;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  margin-right: 10px;
  text-align: center;
  width: 60px;
}

/* .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
  }
  
  .card:hover .overlay {
    transform: scale(4) translateZ(0);
  }
  
  .card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }
  
  .card:hover .circle:after {
    background: var(--bg-color-light);
  }
  
  .card:hover p {
    color: var(--text-color-hover);
  }
  
  .card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
      0 15px 24px var(--box-shadow-color);
  }
  .overlay {
    width: 118px;
    position: absolute; 
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
  } */

.kaus-card,
.kaus {
  display: block;
  position: relative;
  max-width: 300px;
  background-color: #e8e9e9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: rgb(114, 165, 241);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 700ms ease-out;
  }

  &:hover:before {
    transform: scale(50);
  }
}

.kaus-card,
.kaus:hover {
  p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}

tbody tr:hover {
  /* background-color: rgb(114, 165, 241); */
  background-color: #ebf5ff;
}
table,
th,
td {
  border-collapse: collapse;
  padding: 10px;
}

tr:hover::after {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
